<!-- form - start -->
<%= form_with(model: movie, local: true, html: { class: "mx-auto grid max-w-screen-md gap-4 sm:grid-cols-2" }) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div>
    <%= f.label :title, class: "mb-2 inline-block text-sm text-gray-800 sm:text-base" %>
    <%= f.text_field :title, class: "w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring" %>
  </div>

  <div>
    <%= f.label :screening_time, t('movies._form.screening_time'), class: "mb-2 inline-block text-sm text-gray-800 sm:text-base" %>
    <%= f.text_field :screening_time, placeholder: "例: 120", class: "w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring" %>
  </div>
  <div>
    <%= f.label :category_ids, t('movies._form.category'), class: "mb-2 inline-block text-sm text-gray-800 sm:text-base" %>
    <%= f.collection_select(:category_ids, Category.all, :id, :name, {}, { multiple: true,  class: "w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring" }) %>
  </div>

  <div class="sm:col-span-2">
    <%= f.label :synopsis, class: "mb-2 inline-block text-sm text-gray-800 sm:text-base" %>
    <%= f.text_area :synopsis, class: "h-64 w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring" %>
  </div>

  <div>
    <%= link_to t('movies._form.to_thumbnail_create'), photos_path, data: { modal_target: 'modal', turbo_frame: 'photos_create' }, class: "inline-block rounded-lg bg-blue-600 px-8 py-3 text-center text-sm font-semibold text-white outline-none ring-indigo-300 transition duration-100 hover:bg-blue-500 focus-visible:ring active:bg-indigo-700 md:text-base" %>
  </div>

  <div data-modal-target="modal"
     data-controller="modal"
     data-action="turbo:frame-load->modal#open"
     class="hidden fixed m-auto w-screen h-screen top-0 left-0 bg-gray-700/50 z-10">
    <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 max-w-screen-md w-full bg-white p-10">
      <%= turbo_frame_tag "photos_create" %>
    </div>
  </div>

  <div>
    <%= f.label :text_color, class: "mb-2 inline-block text-sm text-gray-800 sm:text-base" %>
    <%= f.select :text_color, ['黒', '白', '赤', '青'], {}, class: "w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring" %>
  </div>

  <div>
    <%= f.label :text_size, class: "mb-2 inline-block text-sm text-gray-800 sm:text-base" %>
    <%= f.select :text_size, ['小', '中', '大'], {}, class: "w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring" %>
  </div>
  
  <div>
    <%= f.label :text_position, class: "mb-2 inline-block text-sm text-gray-800 sm:text-base" %>
    <%= f.select :text_position, ['上部', '中部', '下部'], {}, class: "w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring" %>
  </div>

  <div class="mb-4">
    <%= f.label :thumbnail, class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= f.file_field :thumbnail, class: 'w-full py-2 px-3 border rounded focus:outline-none focus:border-indigo-500', accept: 'image/*', onchange: 'previewImage(preview)' %>
    <%= f.hidden_field :thumbnail_cache %>
    <% if movie.thumbnail.present? %>
      <%= image_tag movie.thumbnail.url, class: 'rounded-circle mt-3', id: 'preview', size: '100x100' %>
    <% end %>
  </div>

  <div class="flex items-center justify-between sm:col-span-2">
    <%= f.submit class: "inline-block rounded-lg bg-blue-600 px-8 py-3 text-center text-sm font-semibold text-white outline-none ring-indigo-300 transition duration-100 hover:bg-blue-500 focus-visible:ring active:bg-indigo-700 md:text-base" %>
  </div>
<% end %>
<!-- form - end -->