<div class="py-9 sm:py-6 lg:py-12">
  <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
    <div class="mb-10 md:mb-16">
      <h2 class="mb-4 text-center text-2xl font-bold text-gray-800 md:mb-6 lg:text-3xl"><%= t('.title') %></h2>
      <%= link_to t('.new_movie_create'), new_movie_path, class: "bg-blue-700 hover:bg-blue-600 text-white rounded px-4 py-2 w-24" %>
    </div>
    <!-- 検索フォーム -->
    <div class="mb-8">
      <%= render 'search_form', url: movies_path %>
    </div>
    <!-- ここまで -->

    <!-- カテゴリー一覧 -->
    <%= render 'category_index' %>
    <!-- ここまで -->
    
    <div class="grid gap-4 grid-cols-1 sm:grid-cols-2 md:gap-6 lg:grid-cols-3 xl:grid-cols-3 xl:gap-8 z-40" >
      <% if @searched && @movies.blank? %>
        <h1 class="text-2xl">
          <%= t('.no_search_result') %>
        </h1>
      <% elsif !@searched && @movies.blank? %>
        <h1 class="text-2xl">
          <%= t('.no_result') %>
        </h1>
      <% else %>
        <% @movies.each do |movie| %>
          <%= render 'movie', movie: movie %>
        <% end %>
      <% end %>
    </div>
    <%= paginate @movies %>
  </div>
</div>