<section class="bg-gray-100 py-8">
<div class="container mx-auto">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
        <!-- Left Column: Movie Poster -->
        <div class="md:col-span-1">
          <%= image_tag @movie.thumbnail.url, class: "w-full rounded-lg shadow-lg" %>
        </div>

        <!-- Middle Column: Movie Details -->
        <div class="md:col-span-2">
            <h1 class="text-3xl font-semibold"><%= @movie.title %></h1>
            <p class="text-gray-500 mt-2">上映時間：<%= @movie.screening_time %>分</p>
            <p class="text-gray-500 mt-2">カテゴリー：
              <%= @movie.categories.map(&:name).join('、') %>
            </p>
            </p>
            <p class="text-gray-500 mt-4">あらすじ</p>
            <p class="text-bg-black mt-4"><%= @movie.synopsis %></p>
        </div>
        <div class="mt-auto flex items-end justify-between">
          <div class="flex items-center gap-2" >
            <div>
              <span class="block text-indigo-500"><%= @movie.user.name %></span>
              <p class="text-sm">投稿日：<%= @movie.created_at.strftime("%Y/%m/%d") %></p>
            </div>
        
            <% if current_user %>
              <% if current_user.own?(@movie) %>
                <%= link_to '編集', edit_movie_path(@movie), class: "bg-blue-700 hover:bg-blue-600 text-white rounded px-4 py-2 w-24" %>
                <%= link_to '削除', "#", class: "bg-blue-700 hover:bg-blue-600 text-white rounded px-4 py-2 w-24" %>
              <% else %>
                <%= render 'bookmark_button', movie: @movie %>
              <% end %>
            <% end %>
          </div>
        </div>
    </div>
</div>
</section>

<%= link_to 'レビューを書く', new_movie_review_path(@movie), data: { turbo_frame: 'new_item' }, class: "bg-blue-700 hover:bg-blue-600 text-white rounded px-4 py-2 w-24" %>



<div data-modal-target="modal"
    data-controller="modal"
    data-action="turbo:frame-load->modal#open turbo:submit-end->modal#close"
    class="hidden fixed m-auto w-screen h-screen top-0 left-0 bg-gray-700/50 z-10">
  <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-max h-max bg-white p-10">
    <%= turbo_frame_tag "new_item" %>
  </div>
</div>


<!-- レビュー表示エリア -->

<div class="bg-white py-6 sm:py-8 lg:py-12">
  <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
    <h2 class="mb-4 text-center text-2xl font-bold text-gray-800 md:mb-8 lg:text-3xl xl:mb-12">『<%= @movie.title %>』に投稿されたレビュー</h2>

    <div class="grid gap-4 sm:grid-cols-2 md:grid-cols-3 md:gap-6">
      <% if @reviews.present? %>
        <% @reviews.each do |review| %>
          <%= render 'reviews/review', review: review %>
        <% end %>
      <% else %>
        <h1 class="text-2xl">
          レビューは投稿されていません
      <% end %>
    </div>
  </div>
</div>