<div class="bg-yellow-300" style="z-index: 1; position: relative;">
  <footer class="mx-auto max-w-screen-2xl px-4 md:px-8 mt-auto">
    <div class="mb-16 gap-12 pt-10 md:grid-cols-4 lg:grid-cols-6 lg:gap-8 lg:pt-12">
      <div class="col-span-full lg:col-span-2">
        <!-- logo - start -->
          <%= link_to t('defaults.title'), root_path, class: "inline-flex items-center gap-2 text-xl font-bold text-gray-600 md:text-2xl" %>
        <!-- logo - end -->
      </div>

      <!-- nav - start -->
      <div class="lg:col-span-4 lg:flex lg:justify-center lg:items-center mt-4 lg:mt-0">
        <%= link_to t('defaults.terms_of_service'), terms_path, class: "mb-4 font-bold uppercase tracking-widest text-gray-600 text-sm sm:text-sm lg:text-base lg:mr-8" %>
        <%= link_to t('defaults.privacy_policy'), privacy_policy_path, class: "mb-4 font-bold uppercase tracking-widest text-gray-600 text-sm sm:text-sm lg:text-base lg:mr-8" %>
        <%= link_to t('defaults.inquiry'), 'https://docs.google.com/forms/d/e/1FAIpQLScLIrT2z80dqFixbG4KEWrbkV-Jf6NfDxUdecsLbQcGz5xiTw/viewform', class: "mb-4 font-bold uppercase tracking-widest text-gray-600 text-sm sm:text-sm lg:text-base lg:mr-8" %>
        <% if logged_in? && current_user.admin == true %>
          <%= link_to t('defaults.to_admin_page'), rails_admin_path, class: "mb-4 font-bold uppercase tracking-widest text-gray-600 text-sm sm:text-sm lg:text-base lg:mr-8" %>
        <% end %>
      </div>
      <!-- nav - end -->
    </div>

    <div class="border-t border-gray-800 py-8 text-center text-sm text-gray-600"><%= Time.current.year %> - 虚構映画</div>
  </footer>
</div>