<div class="bg-yellow-300 lg:pb-12" style="z-index: 1; position: relative;">
  <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
    <header class="flex items-center justify-between py-1 md:py-1">
      <!-- logo - start -->
      <%= link_to root_path do %>
        <%= image_tag 'title_logo.png', size: "155x20", class: "w-24" %>
      <% end %>
      <!-- logo - end -->

      <!-- nav - start -->
      <nav class="lg:flex lg:gap-12 flex-col sm:flex-row">
        <%= link_to t('defaults.to_movie_index'), movies_path, class: "block text-sm sm:text-base lg:text-lg font-semibold text-gray-600 transition duration-100 hover:text-indigo-500 active:text-indigo-700" %>
        <%= link_to t('defaults.to_rankings'), rankings_sum_path, class: "block text-sm sm:text-base lg:text-lg font-semibold text-gray-600 transition duration-100 hover:text-indigo-500 active:text-indigo-700" %>
        <%= link_to t('defaults.to_mypage'), mypage_path, class: "block text-sm sm:text-base lg:text-lg font-semibold text-gray-600 transition duration-100 hover:text-indigo-500 active:text-indigo-700" %>
      </nav>
      <!-- nav - end -->

      <nav class="nav-menu mr-20">
        <ul class="menu-list">
          <li class="menu-item drop-menu">
            <i class="far fa-user fa-2xl -mr-16 lg:ml-2"></i>
            <ul class="drop-menu-list -ml-14 lg:-ml-10">
              <li class="drop-menu-item">
                <%= link_to t('defaults.profile_edit'), edit_users_path, class: "text-sm" %>
              </li>
              <li class="drop-menu-item">
                <%= link_to t('defaults.logout'), logout_path, data: { turbo_method: :delete }, class: "text-sm" %>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </header>
  </div>
</div>