<%= form_with url: photos_path, method: :get, local: true do |f| %>
  <%= f.text_field :query, placeholder: "キーワードを入力", class: "h-12 w-3/4 rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring" %>
  <%= f.submit "検索", class: "inline-block rounded-lg bg-indigo-500 px-8 py-3 text-center text-sm font-semibold text-white outline-none ring-indigo-300 transition duration-100 hover:bg-indigo-600 focus-visible:ring active:bg-indigo-700 md:text-base" %>
<% end %>

<% if @searched %>
  <% if @photos.present? %>
    <div class="flex flex-wrap -m-2">
      <% @photos.each do |photo| %>
        <div class="w-1/3 p-2" data-image-id="<%= photo["id"] %>">
          <%= image_tag photo["src"]["medium"], alt: photo["alt"], class: "some-class-if-needed selectable-image" %>
        </div>
      <% end %>
    </div>
  <% else %>
    <p>画像が見つかりませんでした。</p>
  <% end %>
<% end %>