<%= turbo_frame_tag 'new_item', style: "position: absolute;" do %>
  <%= form_with(model: [movie, review], local: true, remote: true) do |f| %>

    <div>
      <%= f.label :rating %>
      <div class="rating_form">
        <%= f.radio_button :rating, 5 ,id: 'star1'%>
        <label for="star1">★</label>
  
        <%= f.radio_button :rating, 4 ,id: 'star2'%>
        <label for="star2">★</label>
  
        <%= f.radio_button :rating, 3 ,id: 'star3'%>
        <label for="star3">★</label>
  
        <%= f.radio_button :rating, 2 ,id: 'star4'%>
        <label for="star4">★</label>
  
        <%= f.radio_button :rating, 1 ,id: 'star5'%>
        <label for="star5">★</label>
      </div>
     </div>

    <div class "class="sm:col-span-2" >
      <%= f.label :content, class: "mb-2 inline-block text-sm text-gray-800 sm:text-base" %>
      <%= f.text_area :content, class: "h-64 w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring mb-4" %>
    </div>

    <div>
      <%= f.label :contains_spoiler %>
      <%= f.check_box :contains_spoiler, {}, "true", "false" %>
    </div>

    <div class="flex items-center justify-between sm:col-span-2">
      <%= f.submit class: "inline-block rounded-lg bg-indigo-500 px-8 py-3 text-center text-sm font-semibold text-white outline-none ring-indigo-300 transition duration-100 hover:bg-indigo-600 focus-visible:ring active:bg-indigo-700 md:text-base mb-4" %>
    </div>
  <% end %>
  <button class="text-white bg-red-500 hover:bg-red-600 px-4 py-2 rounded-md" data-action="click->modal#close">閉じる</button>
<% end %>