<!-- review - start -->
<div class="flex flex-col rounded-lg border p-4 md:p-6">
  <div>
    <span class="block text-sm font-bold md:text-base"><%= link_to review.user.name, movie_review_path(@movie, review) %></span>
    <span class="block text-sm text-gray-500"><%= review.created_at.strftime("%Y/%m/%d") %></span>
    <div>
      <span class="star-rating">
      <span class="star-rating-front" style="width: <%= get_percent(review.rating) %>%;">★★★★★</span>
      <span class="star-rating-back">★★★★★</span>
    </div>
    <% if review.contains_spoiler? %>
      <p class="text-xl font-bold"><%= link_to '※このレビューはネタバレを含みます', movie_review_path(@movie, review) %></p>
    <% else %>
      <p class="text-gray-600"><%= review.content %></p>
    <% end %>
  </div>
    <% if current_user %>
      <% if current_user.own?(review) %>
        <p><%= review.likes.count %>いいね</p>
        <p><%= review.comment_count %>件のコメント</p>
      <% else %>
        <%= render 'reviews/like_button', review: review %>
        <p><%= review.comment_count %>件のコメント</p>
      <% end %>
    <% end %>
</div>
<!-- review - end -->