<% content_for(:title, "『#{@review.movie.title}』の#{@review.user.name}さんのレビュー") %>
<div class="py-6 sm:py-8 lg:py-12">
  <div class="mx-auto max-w-screen-md px-4 md:px-8">
    <h2 class="mb-4 text-center text-2xl font-bold text-gray-800 md:mb-8 lg:text-3xl xl:mb-12"><%= @review.movie.title %></h2>
    <section class="text-gray-600 body-font">
      <div class="container px-5 py-24 mx-auto flex flex-col">
        <div class="lg:w-4/6 mx-auto">
          <div class="flex flex-col sm:flex-row mt-10">
            <div class="sm:w-1/3 text-center sm:pr-8 sm:py-8">
              <div class="w-20 h-20 rounded-full inline-flex items-center justify-center bg-gray-200 text-gray-400">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10" viewBox="0 0 24 24">
                  <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
                  <circle cx="12" cy="7" r="4"></circle>
                </svg>
              </div>
              <div class="flex flex-col items-center text-center justify-center">
                <h2 class="font-medium title-font mt-4 text-gray-900 text-lg"><%= @review.user.name %>さんのレビュー</h2>
                <% if current_user %>
                  <% if current_user.own?(@review) %>
                    <%= link_to edit_movie_review_path(@review.movie, @review), data: { turbo_frame: 'new_item' } do %>
                      <i class="fa-solid fa-pen-to-square"></i>
                    <% end %>
                    <%= link_to movie_review_path(@review), data: { turbo_method: :delete, turbo_confirm: t('defaults.message.delete_confirm') } do %>
                      <i class="fa-solid fa-trash"></i>
                     <% end %>
                    <p><%= @review.likes.count %>いいね</p>
                    <p><%= @review.comments.count %>件のコメント</p>
                    <div data-modal-target="modal"
                        data-controller="modal"
                        data-action="turbo:frame-load->modal#open turbo:submit-end->modal#close"
                        class="hidden fixed m-auto w-screen h-screen top-0 left-0 bg-gray-700/50 z-10">
                      <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-max h-max bg-white p-10">
                        <%= turbo_frame_tag "new_item" %>
                      </div>
                    </div>
                  <% else %>
                    <%= render 'reviews/like_button', review: @review %>
                    <p><%= @review.comments.count %>件のコメント</p>
                  <% end %>
                <% end %>
              </div>
            </div>
            <div class="sm:w-2/3 sm:pl-8 sm:py-8 sm:border-l border-gray-200 sm:border-t-0 border-t mt-4 pt-4 sm:mt-0 text-center sm:text-left">
              <div>
                <span class="star-rating">
                <span class="star-rating-front" style="width: <%= get_percent(@review.rating) %>%;">★★★★★</span>
                <span class="star-rating-back">★★★★★</span>
              </div>
              <p class="leading-relaxed text-lg mb-4"><%= @review.content %></p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

<h2 class="mb-4 text-center text-2xl font-bold text-gray-800 md:mb-8 lg:text-3xl xl:mb-12"><%= t('.comment') %></h2>
<!-- コメントフォーム -->
<%= render 'comments/form', { movie: @movie, review: @review, comment: @comment } %>

<!-- コメント表示エリア -->
<div class="space-y-4">
  <% if @comments.present? %>
    <% @comments.each do |comment| %>
      <%= render 'comments/comment', comment: comment %>
    <% end %>
  <% end %>
</div>
