<!DOCTYPE html>
<html>
  <head>
    <title>ImaginaryMovie</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.4.2/css/all.css">
  </head>

  <body class="flex flex-col min-h-screen">
    <% if logged_in? %>
      <%= render 'shared/header' %>
    <% else %>
      <%= render 'shared/before_login_header' %>
    <% end %>
    <div class="flex-grow">
      <%= render 'shared/flash_message' %>
      <%= yield %>
    </div>
    <div class="modal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <%= turbo_frame_tag 'new_item' %>
        </div>
      </div>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>