<!DOCTYPE html>
<html>
  <head>
    <title>ImaginaryMovie</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "pagination", "rating", "thumbnail_text", "modal", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link rel="stylesheet" href="https://cdn.tailwindcss.com">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.4.2/css/all.css">
    <%= favicon_link_tag 'favicon.ico', class: "h-32 w-32" %>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body class="flex flex-col min-h-screen bg-amber-100">
    <% if logged_in? %>
      <%= render 'shared/header' %>
    <% else %>
      <%= render 'shared/before_login_header' %>
    <% end %>
    <div class="flex-grow">
      <% unless flash[:skip_flash_message] %>
        <%= render 'shared/flash_message' %>
      <% end %>
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>